* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

.line1, .line2, .line3, .desc {
    width: 80%;
    margin: 20px auto;
}

.line1, .line3 {
    border: 1px solid #fff;
}

.line2 {
    border: 2px solid #fff;
}

.desc {
    font: 750 16px/1.6;
    text-align: center;
}

.element_name p {
    margin: 20px 0;
    font: 500 160px/1.5 'Syne', sans-serif;
    text-align: center;
}

.flip-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.flip-card {
    width: calc(33.3% - 20px); 
    max-width: 400px; 
    height: 300px;
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner, .flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: transform 0.5s;
}

.flip-card-inner {
    position: relative;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
}

.flip-card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    color: #000;
    font: 700 30px 'Syne', sans-serif;
    text-align: center;
}

.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #000 url() center/cover;
    color: #fff;
    text-align: center;
    font-size: 16px;
    position: relative;
    transform: rotateY(180deg);
}

.cover1 {
    background-image: url(../images/flip1.jpg);
}

.cover2 {
    background-image: url(../images/flip2.jpg);
}

.cover3 {
    background-image: url(../images/flip3.jpg);
}

.text_container {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    z-index: 2;
}

@media (max-width: 1024px) {
    .element_name p {
        font-size: 100px;
    }

    .desc {
        font-size: 14px;
    }

    .flip-card {
        width: calc(50% - 20px); 
        max-width: 400px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .element_name p {
        font-size: 80px;
    }

    .desc {
        font-size: 12px;
        width: 90%;
    }

    .flip-card {
        width: 100%;
        max-width: 300px; 
        margin-bottom: 20px;
    }

    .line, .line2, .line3 {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .element_name p {
        font-size: 60px;
    }

    .desc {
        font-size: 10px;
        width: 90%;
    }

    .flip-card {
        width: 100%;
        max-width: 280px; 
        margin-bottom: 20px;
    }

    .line, .line2, .line3 {
        width: 95%;
    }
}
