@font-face {
  font-family: syne;
  src: url(../font/syne.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: syne;
  color: #fff;
}

body {
  width: 100vw;
  height: 100vh;
  background: #000;
  font-size: 1vw;
}

#background {
  position: absolute;
  z-index: -1;
}
